{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user %}
        {% if products|length < 1 %}
            <h1>Şu an satışta ürünümüz bulunmamakta.</h1>
        {% else %}
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for product in products %}
                <div class="col">
                    <div class="card">
                        <img src="{{ product.images.first ? product.images.first.url : 'https://bitsofco.de/content/images/2018/12/broken-1.png' }}" class="card-img-top" alt="" style="height: 150px;">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            <p class="card-text">
                                {% for productCategory in product.categories %}
                                    <span class="badge bg-info text-dark">{{ productCategory.category.name }}</span>
                                {% endfor %}
                            </p>
                        </div>
                        <div class="card-footer">
                            <form method="POST" action="{{ path('add_basket') }}">
                                <input type="hidden" name="productId" value="{{ product.id }}">
                                <div class="input-group mb-3">
                                    <input type="number" value="1" min="1" required step="1" name="quantity" class="form-control">
                                    <button type="submit" class="btn btn-outline-primary" type="button">Sepete Ekle</button>
                                </div>
                            </form>
                            <p class="text-end">
                                <span>Fiyat : </span>
                                <span>{{ product.price}}₺</span>
                            </p>
                            <small class="text-muted">Son güncelleme {{ product.updatedAt|date('d-m-Y H:i:s') }}</small>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
    {% else %}
        <h1>Alışveriş yapabilmen için <a href="{{ path('app_login') }}">giriş</a> yapmalısın.</h1>
        <h2>Kayıt olmak için <a href="{{ path('user_register_form') }}">buraya</a> tıkla</h2>
    {% endif %}
{% endblock %}
