{% extends 'base.html.twig' %}

{% block title %}Sipariş Listesi{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Kullanıcı</th>
            <th scope="col">Sipariş No</th>
            <th scope="col">Ürün Sayısı</th>
            <th scope="col">Ödeme Tipi</th>
            <th scope="col">Toplam</th>
            <th scope="col">Tarih</th>
            <th scope="col">Durum</th>
            <th>İşlem</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <th scope="row">{{ order.id }}</th>
                <td>{{ order.customer.fullName }}</td>
                <td>{{ order.orderNumber }}</td>
                <td>{{ order.details.count }}</td>
                <td>
                    {% if order.paymentType == 0 %}
                        Havale
                    {% elseif order.paymentType == 1 %}
                        Kapıda Ödeme
                    {% endif %}
                </td>
                <td>{{ order.price }}₺</td>
                <td>{{ order.createdAt|date('d-m-Y H:i:s') }}</td>
                <td>
                    {% if order.status == 0 %}
                        Beklemede
                    {% elseif order.status == 1 %}
                        Onaylandı
                    {% elseif order.status == 2 %}
                        Reddedildi
                    {% endif %}
                </td>
                <td>
                    {% if order.status == 0 %}
                        <form method="POST" action="{{ path('admin_order_approve', {'id': order.id}) }}">
                            <button type="submit" class="btn btn-sm btn-primary">Onayla</button>
                        </form>
                        <form method="POST" action="{{ path('admin_order_reject', {'id': order.id}) }}">
                            <button type="submit" class="btn btn-sm btn-danger">Reddet</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
