{% extends 'base.html.twig' %}

{% block title %}Kategori Ekleme Formu{% endblock %}

{% block body %}
    <form method="POST" action="{{ path('admin_category_insert') }}">
        <div class="row mb-3">
            <label for="name" class="col-sm-2 col-form-label">İsim</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="name" id="name" placeholder="Kategori ismi" required>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-10 offset-sm-2">
                <input class="form-check-input" type="checkbox" name="isActive" id="isActive">
                <label class="form-check-label" for="isActive">Aktif</label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Ekle</button>
    </form>
{% endblock %}
