{% extends 'base.html.twig' %}

{% block title %}Ürün Listesi{% endblock %}

{% block body %}
    <div class="col-sm-12 d-flex justify-content-end">
        <a href="{{ path('admin_category_add') }}" class="btn btn-primary">Kategori Ekle</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Hazırlayan</th>
            <th scope="col">Kategori İsmi</th>
            <th scope="col">Aktif</th>
            <th scope="col">Oluşturulma Tarihi</th>
            <th scope="col">İşlem</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <th scope="row">{{ category.id }}</th>
                <td>{{ category.user.fullName }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.isActive ? 'Evet' : 'Hayır' }}</td>
                <td>{{ category.createdAt|date('d-m-Y H:i:s') }}</td>
                <td>
                    <a href="{{ path('admin_category_edit', {'id': category.id}) }}" class="btn btn-sm btn-primary">
                        <i class="fa fa-edit" aria-hidden="true"></i> Düzenle
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
