<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    {% block stylesheets %}
    {% endblock %}

    <title>{% block title %}Simple E-Commerce{% endblock %}</title>
</head>
<body>
    {% block header %}
        <header class="p-3 mb-3 border-bottom">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="{{ path('home') }}" class="nav-link px-2 link-dark">Anasayfa</a></li>
                        <li><a href="{{ path('basket') }}" class="nav-link px-2 link-dark">Sepetim</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('admin_users') }}" class="nav-link px-2 link-dark">Kullanıcılar</a></li>
                            <li><a href="{{ path('admin_products') }}" class="nav-link px-2 link-dark">Ürünler</a></li>
                            <li><a href="{{ path('admin_categories') }}" class="nav-link px-2 link-dark">Kategoriler</a></li>
                            <li><a href="{{ path('admin_orders') }}" class="nav-link px-2 link-dark">Siparişler</a></li>
                        {% endif %}
                    </ul>

                    {% if app.user %}
                        <div class="dropdown text-end">
                            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                                {{ app.user.fullName }}
                            </a>
                            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                                <li><a class="dropdown-item" href="{{ path('app_logout') }}">Çıkış Yap</a></li>
                            </ul>
                        </div>
                    {% else %}
                        <a href="{{ path('app_login') }}" class="d-block link-dark text-decoration-none">
                            Giriş Yap
                        </a>
                        <a href="{{ path('user_register_form') }}" class="d-block link-dark text-decoration-none" style="margin-left: 10px; ">
                            Kayıt Ol
                        </a>
                    {% endif %}
                </div>
            </div>
        </header>
    {% endblock %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ include('default/flash_messages.html.twig') }}

                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</body>
</html>
