{% extends 'base.html.twig' %}

{% block title %}Ürün Ekleme Formu{% endblock %}

{% block body %}
    <form method="POST" action="{{ path('admin_product_insert') }}">
        <div class="row mb-3">
            <label for="name" class="col-sm-2 col-form-label">İsim</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="name" id="name" placeholder="Ürün ismi" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="description" class="col-sm-2 col-form-label">Açıklama</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="description" id="description" placeholder="Ürün açıklaması">
            </div>
        </div>
        <div class="row mb-3">
            <label for="price" class="col-sm-2 col-form-label">Fiyat</label>
            <div class="col-sm-10">
                <input type="number" step="any" class="form-control" name="price" id="price" required>
            </div>
        </div>

        <fieldset class="row mb-3">
            <legend class="col-form-label col-sm-2 pt-0">Ürün Resimleri</legend>
            <div class="col-sm-8" id="imageUrlList">
                <input type="text" class="form-control mb-3" name="images[]" value="" placeholder="Ürün resim url i">
            </div>
            <div class="col-sm-2">
                <button type="button" id="addImageRow" class="btn btn-primary">Yeni Resim Ekle</button>
            </div>
        </fieldset>

        <div class="row mb-3">
            <label for="categories" class="col-sm-2 col-form-label">Ürün Kategorileri</label>
            <div class="col-sm-10">
                <select multiple class="form-control" name="categories[]" id="categories">
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-10 offset-sm-2">
                <input class="form-check-input" type="checkbox" name="isActive" id="isActive">
                <label class="form-check-label" for="isActive">Aktif</label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Ekle</button>
    </form>
{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelector('#addImageRow').addEventListener('click', function () {
                document.querySelector('#imageUrlList').insertAdjacentHTML('beforeend', `<input type="text" class="form-control mb-3" name="images[]" placeholder="Ürün resim url i">`);
            });
        });
    </script>
{% endblock %}