{% extends 'base.html.twig' %}

{% block title %}Ürün Listesi{% endblock %}

{% block body %}
    <div class="col-sm-12 d-flex justify-content-end">
        <a href="{{ path('admin_product_add') }}" class="btn btn-primary">Ürün Ekle</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Hazırlayan</th>
            <th scope="col">Ürün İsmi</th>
            <th scope="col">Fiyat</th>
            <th scope="col">Kategori Sayısı</th>
            <th scope="col">Resim Sayısı</th>
            <th scope="col">Aktif</th>
            <th scope="col">Oluşturulma Tarihi</th>
            <th>İşlem</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <th scope="row">{{ product.id }}</th>
                <td>{{ product.user.fullName }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.categories.count }}</td>
                <td>{{ product.images.count }}</td>
                <td>{{ product.isActive ? 'Evet' : 'Hayır' }}</td>
                <td>{{ product.createdAt|date('d-m-Y H:i:s') }}</td>
                <td>
                    <a href="{{ path('admin_product_edit', {'id': product.id}) }}" class="btn btn-sm btn-primary">
                        <i class="fa fa-edit" aria-hidden="true"></i> Düzenle
                    </a>
                    <form method="POST" action="{{ path('admin_product_delete', {'id': product.id}) }}">
                        <button type="submit" class="btn btn-danger">Sil</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
