{% extends 'base.html.twig' %}

{% block title %}Sepet Sayfası!{% endblock %}

{% block body %}
    {% if basketData.products|length > 0 %}
        <div class="row">
            <div class="col-lg-12">
                <h2>Sepet Özeti</h2>
                <ol class="list-group">
                    {% for productData in basketData.products %}
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">{{ productData.product.name }} -  {{ productData.product.price }}₺</div>
                                {{ productData.product.price * productData.quantity }}₺
                            </div>
                            <span class="badge bg-primary rounded-pill">{{ productData.quantity }}</span>
                            <form method="POST" action="{{ path('delete_product_basket', {'id': productData.product.id}) }}">
                                <button type="submit" class="btn btn-danger">Sil</button>
                            </form>
                        </li>
                    {% endfor %}
                    <li class="list-group-item d-flex justify-content-center align-items-start bg-info text-white">
                        <div class="ms-2">
                            <div class="fw-bold">Toplam</div>
                            {{ basketData.total }}₺
                        </div>
                    </li>
                </ol>
                <div class="bg-white rounded pb-5 mt-3">
                    <form method="POST" action="{{ path('order') }}">
                        <div class="form-group mb-3">
                            <label class="text-muted">Adres</label>
                            <input type="text" name="address" value="Maltepe/İstanbul" class="form-control">
                        </div>
                        <div class="form-group mb-3">
                            <label class="text-muted">Açıklama</label>
                            <input type="text" name="comment" class="form-control" placeholder="Sipariş notu">
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="paymentType" id="paymentType1" value="0">
                            <label class="form-check-label" for="paymentType1">
                                Havale
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="paymentType" id="paymentType2" value="1" checked>
                            <label class="form-check-label" for="paymentType2">
                                Kapıda Ödeme
                            </label>
                        </div>
                        <button type="submit" class="my-3 btn btn-primary">Satın Al</button>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <h1>Sepetinizde ürün bulunmamakta. Alışveriş için <a href="{{ path('home') }}">buraya</a> tıkla.</h1>
    {% endif %}
{% endblock %}
