{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-danger"><i class="fa fa-unlock-alt" aria-hidden="true"></i>  Yetki Hatası</h1>

    <p class="lead">
        Bu sayfaya erişme yetkin yok.
    </p>
{% endblock %}
