{% extends 'base.html.twig' %}

{% block title %}Kullanıcı Kayıt Formu{% endblock %}

{% block body %}
    <form method="POST" action="{{ path('user_register') }}">
        <div class="row mb-3">
            <label for="fullName" class="col-sm-2 col-form-label">Ad Soyad</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="fullName" id="fullName" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" name="email" id="email" placeholder="a@b.com" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="password" class="col-sm-2 col-form-label">Şifre</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" name="password" id="password" required>
            </div>
        </div>

        <div class="row mb-3">
            <label for="passwordConfirmation" class="col-sm-2 col-form-label">Şifre Tekrarı</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" name="passwordConfirmation" id="passwordConfirmation" required>
            </div>
        </div>

        <div class="row mb-3">
            <label for="phone" class="col-sm-2 col-form-label">Telefon</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="phone" id="phone">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Kayıt Ol</button>
    </form>
{% endblock %}
